@use './reset.scss';

$height: 2.25rem;
$heightSmall: 1.5rem;
$widthLarge: 49rem;
$widthExtraLarge: 69rem;
$widthMedium: 30rem;
$width: 5rem;

$pad: 1rem;
$padSVG: 0.6rem;

$padMedium: 1.75rem;
$padLarge: 2.5rem;
$padSmall: 0.4rem;

$round: 1rem;

$fontLarge: 1.5rem;
$font: 0.95rem;
$fontSmall: 0.75rem;

$anim: 0.4s ease;

[data-theme='dark'] {
  --color: white;
  --color-placeholder: rgb(235, 235, 235);
  --danger: rgb(252, 50, 50);
  --success: rgb(96, 181, 35);
  --primary: linear-gradient(45deg, #1f1f23, #303034ff);
  --background: rgb(31, 31, 35);
  --background-shade: rgba(31, 31, 35, 0.75);
  --outline-shadow: 0 0 0 0.15rem #ffae2d;
  --outline: 0.075rem solid rgba(31, 31, 35, 0.75);
  --opacity: 75%;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: $font;
  font-weight: 500;
  outline-offset: 0;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  outline: 0.075rem solid transparent;
  color: inherit;
}

::placeholder {
  color: var(--color-placeholder);
  opacity: var(--opacity);
}

html {
  color: var(--color);
  background: var(--background);
}

html,
body {
  width: 100%;
  height: 100%;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: left;
  overflow: hidden;
  border-radius: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-top: calc($height + ($padMedium));
  min-height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: $fontLarge;
}

h2 {
  font-size: calc($fontLarge / 1.15);
  padding: $pad;
  padding-top: 0;
  padding-bottom: 0;
}

h1.title {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1.title > div {
  max-width: calc($height * 10);
  font-size: calc($pad * 2.5);
  padding: $padMedium;
  padding-bottom: 0;
}

h1.title > div:last-child {
  max-width: calc($height * 10);
  padding: $padMedium;
  font-size: $font;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: $pad;
  max-height: $height;
  border-radius: $round;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  background: var(--background-shade);
  transition:
    box-shadow $anim,
    outline-color $anim;
}

@media (pointer: fine) {
  a:hover {
    outline: var(--outline);
    box-shadow: var(--outline-shadow);
  }
}

p {
  font-size: $fontSmall;
  opacity: 50%;
}

svg {
  min-width: $height;
  max-width: $height;
  min-height: $height;
  max-height: $height;
  padding: $padSVG;
  border-radius: $round;
  object-fit: cover;
}

img {
  min-width: $height;
  max-width: $height;
  min-height: $height;
  max-height: $height;
  border-radius: $round;
  object-fit: cover;
  object-position: center;
}
