@use './reset.scss';

$height: 2.25rem;
$heightSmall: 1.5rem;
$widthLarge: 50rem;
$widthExtraLarge: 80rem;
$widthMedium: 30rem;
$width: 5rem;

$pad: 1rem;
$padSVG: 0.6rem;

$padMedium: 1.75rem;
$padLarge: 2.5rem;
$padExtraLarge: 3.5rem;
$padSmall: 0.4rem;

$round: 1.5rem;

$fontLarge: 2.5rem;
$font: 0.95rem;
$fontSmall: 0.75rem;

$anim: 0.4s ease;

[data-theme='dark'] {
  --color: white;
  --danger: rgb(252, 50, 50);
  --success: rgb(96, 181, 35);
  --primary: linear-gradient(45deg, rgb(87, 143, 72), rgb(146, 165, 60));
  --background: rgb(22, 22, 22);
  --background-transparent: rgba(22, 22, 22, 0.75);
  --background-shade: rgb(32, 32, 32);
  --outline-shadow: 0 0 0 0.15rem rgb(87, 143, 72);
  --outline: 0.075rem solid rgb(32, 32, 32);
  --opacity: 75%;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: $font;
  font-weight: 500;
  outline-offset: 0;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  outline: 0.075rem solid transparent;
  color: inherit;
}

::placeholder {
  color: var(--color);
  opacity: var(--opacity);
}

html {
  color: var(--color);
  background: var(--background);
}

#background {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  border-radius: 0;
  z-index: -1;
  object-position: right;
  object-fit: cover;
  background: rgb(22, 22, 22);
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100%;
  padding: $padMedium;
  padding-top: calc($height + ($padMedium * 2));
  gap: $padMedium;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: $fontLarge;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: calc($fontLarge / 1.15);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: $pad;
  min-height: $height;
  max-height: $height;
  border-radius: $round;
  background: transparent;
  transition:
    box-shadow $anim,
    outline-color $anim;
}

@media (pointer: fine) {
  a:hover {
    outline: var(--outline);
    box-shadow: var(--outline-shadow);
  }
}

@media (pointer: fine) {
  a:hover {
    outline: var(--outline);
    box-shadow: var(--outline-shadow);
  }
}

p {
  font-size: $fontSmall;
  opacity: 50%;
}

svg {
  min-width: $height;
  max-width: $height;
  min-height: $height;
  max-height: $height;
  padding: $padSVG;
  border-radius: $round;
  object-fit: cover;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: $pad;
}

img {
  width: 100%;
  max-width: calc($height * 15);
  height: 100%;
  border-radius: $round;
  object-fit: cover;
  object-fit: contain;
  object-position: center;
}
