@use '../App.scss';

#home {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: App.$padMedium;
  max-width: App.$widthExtraLarge;
}

#home > header,
#home > main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(App.$height * 15);
  width: 100%;
  gap: App.$pad;
  margin-bottom: App.$padMedium;
}

#home > header > h1 {
  z-index: 1;
}

#home > main > h1 {
  z-index: 1;
  align-self: end;
}

@media screen and (min-width: App.$widthMedium) {
  #home > header > img,
  #home > main > img {
    position: absolute;
    bottom: 0;
    padding: App.$padLarge;
  }

  #home > header > img {
    right: 0;
  }

  #home > main > img {
    left: 0;
  }
}
