@use '../App.scss';

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: App.$height;
  width: App.$height;
  border-radius: App.$round;
  background: transparent;
  z-index: 1;
  background: var(--background);
  cursor: pointer;
  transition:
    box-shadow App.$anim,
    outline-color App.$anim;
}

button.fixed {
  position: fixed;
  z-index: 2;
  bottom: App.$padMedium;
  right: App.$padMedium;
  background: var(--primary);
}

button.primary {
  background: var(--primary);
}

h1 button {
  width: fit-content;
  padding: App.$pad;
}

form > button {
  padding: App.$pad;
  width: fit-content;
}

@media (pointer: fine) {
  button:hover {
    outline: var(--outline);
    box-shadow: var(--outline-shadow);
  }
}

button:focus {
  outline: var(--outline);
  box-shadow: var(--outline-shadow);
}
