@use '../App.scss';

a.foodCard,
a.foodCardTwo {
  position: relative;
  display: flex;
  align-items: stretch;
  min-height: calc(App.$height * 5.5);
  max-height: calc(App.$height * 5.5);
  flex: 1;
  padding: 0;
  outline: none;
  box-shadow: none;
  background: var(--background-shade);
}

a.foodCardTwo {
  flex-direction: column;
  min-height: fit-content;
  height: fit-content;
  max-height: calc(App.$height * 17);
  max-width: App.$widthMedium;
}

a.foodCard:focus,
a.foodCard:hover,
a.foodCardTwo:focus,
a.foodCardTwo:hover {
  outline: none;
  box-shadow: none;
}

.foodCard > div,
.foodCardTwo > div {
  display: flex;
  flex-direction: column;
  min-height: calc(App.$height * 5.5);
  overflow: hidden;
  border-radius: App.$round;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.foodCard > div > img,
.foodCardTwo > div > img {
  padding: 0;
  min-width: calc(App.$height * 4);
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  transition: transform 0.4s ease;
  overflow: hidden;
}

.foodCardTwo > div > img {
  max-height: calc(App.$height * 12);
}

a.foodCardTwo > div,
a.foodCardTwo > div > img {
  border-radius: App.$round;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.foodCard .large,
.foodCardTwo .large {
  transform: scale(1.25);
}

@media screen and (min-width: App.$widthMedium) {
  .foodCard > div > img,
  .foodCardTwo > div > img {
    min-width: calc(App.$height * 5);
  }
}

.foodCard > main,
.foodCardTwo > main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  flex: 1;
  padding: App.$pad;
  gap: App.$padSVG;
  border-top-right-radius: App.$round;
  border-bottom-right-radius: App.$round;
  overflow: hidden;
}

.foodCard > main > img,
.foodCardTwo > main > img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  opacity: 15%;
  object-fit: cover;
  filter: blur(1rem);
}

.foodCard > main > header,
.foodCardTwo > main > header {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: calc(App.$height * 1.5);
  gap: calc(App.$padSmall / 2);
  z-index: 1;
}

.foodCard > main > header > svg,
.foodCardTwo > main > header > svg {
  position: absolute;
  right: App.$pad;
  color: gold;
}

.foodCard > main > header > p {
  width: calc(App.$height * 3);
}

.foodCard > main > div,
.foodCardTwo > main > div {
  display: flex;
  width: calc(App.$height * 2.5);
  justify-content: start;
  align-items: center;
  gap: App.$pad;
  z-index: 1;
}

.foodCard > main svg,
.foodCardTwo > main svg {
  padding: 0;
  min-width: App.$pad;
  min-height: App.$pad;
  border-radius: 0;
}

.foodCard > main > div p,
.foodCardTwo > main > div p {
  opacity: 100%;
}
