@use '../App.scss';

div.input {
  position: relative;
  display: flex;
  height: App.$height;
  border-radius: App.$round;
  gap: App.$pad;
  flex: 1;
<<<<<<< HEAD
  width: 100%;
=======
>>>>>>> 66425a3eaf09d54f8124ba3c831ba1b03705ba76
}

label {
  display: flex;
  flex: 1;
}

input {
  max-height: App.$height;
<<<<<<< HEAD
  min-width: calc(App.$height * 4);
=======
>>>>>>> 66425a3eaf09d54f8124ba3c831ba1b03705ba76
  width: 100%;
  height: App.$height;
  padding: App.$pad;
  border-radius: App.$round;
  flex: 1;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  background: var(--background-shade);
  outline: var(--outline);
  transition:
    box-shadow App.$anim,
    outline-color App.$anim;
}

input.clear {
  padding-right: App.$height + App.$padSmall;
}

div.input button {
  position: absolute;
  right: 0;
  z-index: 1;
<<<<<<< HEAD
  padding: 0;
=======
>>>>>>> 66425a3eaf09d54f8124ba3c831ba1b03705ba76
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  background: transparent;
}

@media (pointer: fine) {
  input:hover {
    outline: var(--outline);
    box-shadow: var(--outline-shadow);
  }
}

input:focus {
  outline: var(--outline);
  box-shadow: var(--outline-shadow);
}
