@use '../App.scss';

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: App.$widthExtraLarge;
}

nav > header {
  width: 100%;
  max-width: App.$widthExtraLarge;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: App.$padMedium;
}

nav > header > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc(App.$height * 3.75);
}

nav > header > h1 > img {
  min-width: fit-content;
  max-width: fit-content;
  min-height: none;
  min-height: calc(App.$padLarge / 1.35);
  max-height: calc(App.$padLarge / 1.35);
  padding-top: calc(App.$padSmall / 2);
  border-radius: 0;
}

nav > header > div.input {
  display: none;
}

nav > header > ul {
  display: none;
  gap: App.$padMedium;
}

@media screen and (min-width: App.$widthMedium) {
  nav > header > ul {
    display: none;
  }

  nav > header > div.input {
    display: flex;
  }
}

@media screen and (min-width: App.$widthLarge) {
  nav > header > ul {
    display: flex;
  }

  nav > header > div.input {
    display: flex;
  }

  nav > header > button {
    display: none;
  }
}
