@use '../App.scss';

.tabOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: App.$padMedium;
  flex: 1;
  margin-bottom: App.$padMedium;
}

.tabOne > h1.title {
  flex: 1.5;
  border-radius: App.$round;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  background: var(--background-shade);
}

.tabTwo {
  display: flex;
  flex-wrap: wrap;
  gap: App.$padMedium;
  width: 0;
  min-width: 100%;
  border-radius: App.$round;
  margin-bottom: App.$padMedium;
}

@media screen and (min-width: App.$widthMedium) {
  .tabOne {
    align-items: center;
  }
}
